background: url('http://127.0.0.1:8000/front_assets/images/android-logo.png');

.blue-special-bg form button:hover {
    background-color: #fc5185;
    border-color: #ff84e4;
  }
  .blue-special2-bg form button {
    border-color: #673de6;
    color: #673de6;
  }